@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    counter-reset: killer;
    background-image: url("img/Games_Duck_Hunt_Nintendo_Dendy_Nes_025749_9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 bottom;
    position: relative;
    cursor: url("img/curs34.png"), crosshair;
    overflow: hidden;
}

.duck input[type="checkbox"]:checked{
    counter-increment: killer;
}

input[type="checkbox"]:checked + label{
    display: none;
    /* visibility: hidden; */
    /* opacity: 0; */
}

.score::after{
    content: counter(killer);
}

.score{
    text-shadow: 0 0 10px rgb(143, 143, 0);
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    display: inline-block;
    height:70px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(61, 52, 37);
    color: rgb(209, 209, 4);
    border:5px ridge rgb(209, 209, 4);
    margin-left: 50%;
    top:90%;
    transform: translateX(-50%);
}

.duck{
    width: 62px;
    height: 56px;
    position: relative;
    overflow: hidden;
    left: -80px;
    top: 450px;
}

input{
    position: absolute;
    left: -50px;
}

label{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("img/duck_hunt_bird_big2.gif");
    background-repeat: no-repeat;
    cursor: url("img/curs34.png"), crosshair;
}

.duck1{
    animation: fly2 7s .5s;
}

.duck2{
    animation: fly1 9s 3s;
}
.duck3{
    transform: rotateY(180deg);
    animation: fly3 6s 2.5s;
}
.duck4{
    animation: fly4 11s 1s;
}
.duck5{
    animation: fly1 9s 4s;
}
.duck6{
    transform: rotateY(180deg);
    animation: fly5 4s 2s;
}

@keyframes fly1{
    0%{
        left: 5%;
        top: 500px;
    }
    25%{
        transform: rotateZ(-20deg);
        left: 25%;
        top:320px;
    }
    50%{
        transform: rotateZ(30deg);
        left: 50%;
        top: 650px;
    }
    75%{
        left: 75%;
        top: 400px;
    }
    100%{
        left: 110%;
        top: 0px;
    }
}
@keyframes fly2{
    0%{
        left: 5%;
        top: 0px;
        transform: rotateZ(40deg);
    }
    15%{
        transform: rotateZ(15deg);
        left: 25%;
        top:300px;
    }
    29%{
        transform: rotateZ(-15deg);
        left: 50%;
        top: 450px;
    }
    33%{
        transform: rotateZ(-110deg);
        left: 58%;
        top: 375px;
    }
    47%{
        transform: rotateZ(-200deg);
        left: 50%;
        top: 250px;
    }
    61%{
        transform: rotateZ(-300deg);
        left:42%;
        top:325px;
    }
    75%{
        transform: rotateZ(-380deg);
        left:50%;
        top:450px;
    }
    89%{
        transform: rotateZ(-405deg);
        left:75%;
        top:325px;
    }
    100%{
        transform: rotateZ(-440deg);
        left:110%;
        top:-50px;
    }
}
@keyframes fly3{
    0%{
        left:110%;
        top: 650px;
    }
    10%{
        left:95%;
        top:520px;
    }
    20%{
        left:85%;
        top: 390px;
    }
    30%{
        left: 75%;
        top: 260px;
    }
    40%{
        left: 65%;
        top: 130px;
    }
    50%{

        left:55%;
        top:10px;
    }
    60%{
        left:45%;
        top:130px;
    }
    70%{
        left:35%;
        top:260px;
    }
    80%{
        left:25%;
        top:390px;
    }
    90%{
        left:15%;
        top:520px;
    }
    100%{
        left:5%;
        top:650px;
    }
}
@keyframes fly4{
    0%{
        left: 5%;
        top: 200px;
    }
    25%{
        left: 30%;
        top:460px;
    }
    50%{
        left: 50%;
        top: 400px;
    }
    100%{
        left: 110%;
        top: 0px;
    }
}
@keyframes fly5{
    0%{
        left:110%;
        top: 650px;
    }

    20%{
        left:85%;
        top: 390px;
    }
    50%{

        left:55%;
        top:10px;
    }
    60%{
        left:45%;
        top:130px;
    }
    70%{
        left:35%;
        top:260px;
    }
    80%{
        left:25%;
        top:390px;
    }
    100%{
        left:5%;
        top:650px;
    }
}